/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  min-height: 100vh;
  background-color: #FFF4E0;
  font-family: monospace;
}

.primary {
  background: #FD9745;
}

.light-primary {
  background-color: #FFF4E0;
}

h1:hover {
  color: #FD9745;
  cursor: pointer;
}
